.sl-top-heading {
    background-color: #6495ED;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size:x-large;
    padding: 16px;
}

.sl-drag-n-drop{
    width: 32%;
    padding: 8px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}