    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/read-excel-file@5.2.26/bundle/read-excel-file.min.js"></script>
    <script src="/js/backendscript.js"></script>
    <script>
        function checkAll(checkbox)
        {
            var id= checkbox.id;
            var targetId = 'b'+id[1];
            var checkboxes=document.getElementById(targetId);
            if(checkbox.checked==true) checkboxes.checked=true;
            else checkboxes.checked=false; 
        }
    </script>
    </body>
</html>